<div id="data"> <%- content %> </div>
<div id="script"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {

  
         
       
    const loginFrom =document.querySelector("#main > div > div.row > div:nth-child(1) > form");

    loginFrom.addEventListener("submit",function(e){
        e.preventDefault();
        const email = document.getElementById("login").value;
        const password = document.getElementById("password").value;
        const captcha = document.getElementById("captcha").value;

        const formDta={email:email,password:password,captcha:captcha}
        $.ajax({
           url:"/login",
           method:"post",
           contentType: 'application/json',
           data:JSON.stringify(formDta),
           success:function(res){
            console.log(res.data)
            
            $("#data").html(res.data)
            $("#script").html(res.jscode)
           },
             error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    })

    
});   


</script>